header {
    background-color: aqua;
}
.high-scores {
    background-color: lightskyblue;
}
p {
    font-style: italic;
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 4vh 6vh;
    padding: 0 20vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.viewscore-section,
.timer-section,
.header-title {
    flex: 1 1 33.33%;
}

.timer-section,
.viewscore-section {
    padding: 3vh 10vh;
}

.header-title {
    padding: 0 7vh;
    text-transform: uppercase;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 8vh;
    color:white;
    background-color:rgb(132, 132, 173);
}
.quiz-question {
    margin: 0 5vh 5vh;
    background-color: blanchedalmond;
    color: black;
}

.quiz-choice {
    width: 50vh;
    padding: 0 5vh;
}

.start-button {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

.answer-validity {
    align-content: center;
}   

button {
    margin: 2vh;  
    background-color: rgb(176, 164, 207);
}
@media screen and (min-height:650px) {
    .answer-validity {
        bottom: 10vh;
    }
}
@media screen and (min-width:768px) {
    body {
        font-size: 18px;
    }

    header {
        flex-wrap: nowrap;
    }
    header h1 {
    font-size: 27px;
    }

    .quiz-question h2 {
        font-size: 20px;
    }
}
